<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="it-emp1" class="model.Employee">
        <constructor-arg value="Andrey"/>
        <constructor-arg value="28"/>
        <constructor-arg ref="it-pos-it"/>
    </bean>

    <bean id="it-emp2" class="model.Employee">
        <constructor-arg value="Irina"/>
        <constructor-arg value="31"/>
        <constructor-arg ref="it-pos-manager"/>
    </bean>

    <bean id="it-emp3" class="model.Employee">
        <constructor-arg value="Maxim"/>
        <constructor-arg value="42"/>
        <constructor-arg ref="it-pos-it"/>
    </bean>

    <bean id="it-pos-it" class="model.Position">
        <constructor-arg value="IT"/>
        <constructor-arg ref="it-sal"/>
    </bean>

    <bean id="it-sal" class="model.Salary">
        <constructor-arg value="#{50000.0 * 3}"/>
    </bean>

    <bean id="it-pos-manager" class="model.Position">
        <constructor-arg value="Manager"/>
        <constructor-arg ref="manager-sal"/>
    </bean>

    <bean id="manager-sal" class="model.Salary">
        <constructor-arg value="#{ T(java.lang.Math).random() * 200000.0 + 100000.0}"/>
    </bean>

    <bean id="company" class="model.Company">
        <constructor-arg value="IT-Co"/>
        <constructor-arg ref="position-list"/>
        <constructor-arg ref="employee-list"/>
        <constructor-arg ref="util"/>
    </bean>

    <bean id="util" class="services.Util">
        <constructor-arg ref="employeeService"/>
        <constructor-arg ref="positionService"/>
        <constructor-arg ref="salaryService"/>
    </bean>

    <bean id="employeeService" class="services.EmployeeService"/>
    <bean id="positionService" class="services.PositionService">
        <constructor-arg value="IT-Co"/>
    </bean>
    <bean id="salaryService" class="services.SalaryService"/>

    <bean id="employee-list" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="it-emp1" />
                <ref bean="it-emp2" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="position-list" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="it-pos-it" />
                <ref bean="it-pos-manager" />
            </list>
        </constructor-arg>
    </bean>

</beans>